
<!--PRODUCTS TABLE-->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
    <title>Inventory Management System</title>
</head>

<body>
    <div class="sidenavbar">

        <mat-sidenav-container autosize>
            <mat-sidenav class="sidenav" #drawer mode="side" opened="false">
                <img src="../assets/logo.png" class="inventory-logo">

                <button mat-button class="sidebarcontent" routerLink="/order"><mat-icon class="dashboard">dashboard</mat-icon> Orders</button>
                <button mat-button style="margin-left: 34px;" class="sidebarcontent" routerLink="/pos" ><mat-icon class="stocks">inventory_2</mat-icon> Point Of Sale</button>
               <!--  <button mat-button class="sidebarcontent" >	<mat-icon class="itemHistory">print</mat-icon>Generate Report</button> -->
            </mat-sidenav>
            <mat-sidenav-content>
                <div>
                    <mat-toolbar color="primary" class="navbar">
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
                          <mat-icon>menu</mat-icon>
                      </button>
                        <span>POINT OF SALE</span>
                        <span class="example-spacer"></span>

                        <h3 class="admin-name">Hello! <span id="name"></span></h3>

                        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                          <mat-icon>person</mat-icon>
                      </button>
                        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" type="button" >
                        <mat-icon>logout</mat-icon>
                    </button>
                    </mat-toolbar>
                </div>
                
                  <!--  <div class="btns">
                        \<button class="add-button"  onclick="window.print();" mat-flat-button><mat-icon class="aligned-with-icon">add_circle_outline</mat-icon> Print Orders</button> 
                        <button class="view-archives"   matBadgeColor="warn"   mat-flat-button><mat-icon class="aligned-with-icon">folder_open</mat-icon><span class="aligned-with-icon"> Archives </span></button>
                        
                      </div>     -->
               <!--  <mat-form-field class="search"autocomplete="off">
                  
                    <mat-label search><mat-icon class="aligned-with-icon1"  style="font-size: 25px;">search</mat-icon><span class="iLabel">Search</span></mat-label>
                    <input  autocomplete="off" matInput class="searchField"  >
                </mat-form-field> -->

                <!-- <div class="card-main" >  


                      

      
                  
    

            <div class="receipt-screen">
            
                <div  class="pos-receipt-container">

                    <div  id="print-section" class="receipt-content">
                        <img src="../assets/logo.png" class="inventory-logo"> -->
                        <!-- <div class="companyInfo">

                           

                        </div>

                        <div class="orderlines">
                    
                        </div> -->
                    <!-- </div> -->
                    <!-- <div class="func-container">
                    <button  printTitle="MyTitle"  printSectionId="print-section"  ngxPrint>print</button>
                    </div> -->
                <!-- </div>
                
            </div> -->

            <div class="row no-gutters">
<!-- 
              <div class="col-24 text">


              </div> -->

                  <div class="col-5 no-gutters">

                    

                    <div class="leftside d-flex justify-content-center align-items-center">

                      <mat-card class="invoice">
                        <img src="../assets/logo.png" class="inventory-logo">

                        <mat-list class="mat">
                          <mat-list-item > <strong class="total">Order Name</strong> </mat-list-item>
                          <mat-list-item > <strong class="total">OrderQuantity</strong> <span class="inv">0.0</span></mat-list-item>
                          <hr class="hr">
                          <mat-list-item > <strong class="total">SubTotal</strong> <span class="inv">0.0</span></mat-list-item>
                          <mat-list-item > <strong class="total">Tax15.00%</strong> <span class="inv">0.0</span></mat-list-item>
                          <hr class="hr">
                          <mat-list-item > <strong class="total1">TOTAL</strong> <span class="inv1">0.0</span></mat-list-item>
                          <hr class="hr">
                          <mat-list-item > <strong class="total">Cash</strong> <span class="inv">0.0</span></mat-list-item>
                          <hr class="hr">
                          <mat-list-item > <strong class="total1">Change</strong> <span class="inv1">0.0</span></mat-list-item>
                        </mat-list>

                        <div class="info">
                          <span class="inv2">Order #</span>
                          <br>
                          <span class="inv2">Date and Time</span>
                        </div>
                        
                        
                        
                      </mat-card>

                      



                    </div>

                    


          
                  </div>
          
                  <div class="col-7 no-gutters">
          
                    <div class="rightside">

                      <p>How would you like to recieve your receipt?</p>


                      <div>
                        <button type="button" class="col-8 buttonprint">
                          <span class="button__icon">
                            <mat-icon class="dashboard1">dashboard</mat-icon>
                          </span>
                          <span class="button__text">Print Receipt</span>
                          
                        </button>
                    </div>
                    <br>
                    <br>
                      <!-- <button  printTitle="MyTitle"  printSectionId="print-section"  ngxPrint>Print Receipt</button> -->


                      <div class="emaildiv">
                        <input class="emailprint" type="text" placeholder="Email">
                        <button type="button" class="enter">SEND  </button>


                      </div>
                    </div>
          
                  </div>
          
    
    
        </div>

            




      <!--  <div class="div-print-item">
        <button onclick="window.print();"><i class="fas fa-print"></i>&nbsp; Print</button>
      </div> -->
    
    <!-- <div>
      <div class="search-input">
        <label for="search"><i class="fas fa-search"></i>&nbsp; <input id="search" name="search" placeholder="search"></label>
      </div>
      <div class="div-print-item">
        <button><i class="fas fa-print"></i>&nbsp; Print</button>
      </div>
    </div> -->
  <!-- </div> -->
  
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>

    
<!--invoice table -->

  <!--order table -->


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>


  
  
  
  